.headline {
    margin-top: 0;
}

.headline.margintop {
    margin-top: 15px;
}

.row .col.small-margintop {
    margin-top: 10px;
}

.media-controls-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.media-controls-wrapper > div {
    display: flex;
}

 
.media-controls-wrapper button {
    margin: 5px;
    width: 52px;
}

.media-controls-wrapper button.dont-show {
    visibility: hidden;
}

.checkboxes-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    flex-wrap: wrap;
}

.checkboxes-wrapper > p {
    margin-left: 6px !important;
}

.mouse-area-p {
    margin-bottom: 15px !important;
}

.mouse-area {
    min-height: 250px !important;
    position: relative;
}

.mouse-area::before, 
.mouse-area::after, 
.mouse-area > span::before, 
.mouse-area > span::after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
}

.mouse-area::before {
    top: -2px;
    left: -2px;
    border-top: 2px solid black;
    border-left: 2px solid black;
}
.mouse-area::after {
    top: -2px;
    right: -2px;
    border-top: 2px solid black;
    border-right: 2px solid black;
}
.mouse-area > span::before {
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}
.mouse-area > span::after {
    bottom: -2px;
    right: -2px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.mouse-btns-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mouse-btns-wrapper > button {
    margin-bottom: 10px;
}

/* START Arrumar bug entre materialize e select2 */
.select2-search.select2-search--inline > input.select2-search__field {
    height: inherit !important;
}
/* END Arrumar bug entre materialize e select2 */

#keyboard-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#keyboard-wrapper {
    position: relative;
}

.keyboard-button-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: normal;
    width: 100%;
    height: 100%;
}

.keyboard-button-text-wrapper > div {
    display: flex;
    width: 100%;
    height: 50%;
}

.keyboard-button-text-wrapper > div:last-child {
    align-items: center;
}

.keyboard-button-text-wrapper > div > span {
    width: 50%;
    height: 50%;
}

.keyboard-button-text-wrapper > div > span:first-child {
    text-align: left;
}

.keyboard-button-text-wrapper > div > span:last-child {
    text-align: right;
}

#keyboard-wrapper button.toggled {
    /* Same color as with :focus */
    background-color: #1d7d74;
}

#keyboard-wrapper button.underline {
    text-decoration: underline;
}